.borrow-container {
  width: 60%;
  margin: 40px auto;
  background: #f9eedb;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  border: 1px solid #d5b89f;
  font-family: "Poppins", sans-serif;
}

.borrow-container h2 {
  font-size: 28px;
  font-weight: bold;
  color: #4c2b00;
  margin-bottom: 20px;
}

.borrow-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.borrow-item {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 12px 16px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid rgba(76, 43, 0, 0.2);
  align-items: center;
}

.borrow-item button {
  background: #cf312d;
  color: white;
  border: none;
  padding: 7px 14px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.borrow-item button:hover {
  background: #7b1c19;
}

.empty-msg {
  color: #6e5e50;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}
