/* ==== HOME BASE ==== */
.home-container {
  width: 100%;
  background: #F3E3D2;
  font-family: "Segoe UI", Arial, sans-serif;
}

/* ==== HERO ==== */
.hero {
  height: 70vh;
  background-image: url("../assets/book1.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-box {
  background: rgba(255, 255, 255, 0.85);
  padding: 40px 60px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.25);
  text-align: center;
}

.hero-box h1 {
  font-size: 36px;
  color: #4c2b00;
  margin-bottom: 12px;
}

.hero-box p {
  font-size: 18px;
  color: #6e4c2f;
  margin-bottom: 20px;
}

/* Button */
.btn-primary {
  background: #e18c2e;
  padding: 12px 26px;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #8a4c13;
}
/* ==== FEATURES ==== */
.features {
  padding: 80px 0;
  text-align: center;
}

.section-title {
  font-size: 34px;
  color: #4c2b00;
  margin-bottom: 30px;
}

.feature-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.feature-card {
  background: white;
  padding: 25px;
  width: 250px;
  border-radius: 15px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.feature-card:hover {
  transform: scale(1.05);
}

/* ==== GALLERY ==== */
.gallery {
  padding: 70px 0;
  background: #eedeca;
  text-align: center;
}

.gallery h2 {
  font-size: 28px;
  color: #4c2b00;
  margin-bottom: 20px;
}

.gallery-grid {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  margin: auto;
}

.gallery-grid img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

/* ==== FOOTER ==== */
.footer {
  padding: 20px;
  text-align: center;
  background: #4c2b00;
  color: white;
  font-size: 16px;
}
