.admin-panel {
  background: white;
  padding: 40px;
  border-radius: 18px;
  max-width: 700px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.12);
  margin: 0 auto;
}

.admin-panel h2 {
  margin-bottom: 22px;
  font-size: 26px;
  color: #5c2e0c;
  text-align: center;
}

.admin-panel input {
  width: 100%;
  padding: 9px;
  margin-bottom: 14px;
  border: 2px solid #be8e63;
  border-radius: 8px;
  font-size: 15px;
}

.admin-panel button {
  width: 100%;
  padding: 9px;
  font-size: 16px;
  background: #d57b2a;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.admin-panel button:hover {
  background: #5c2e0c;
}
