.stats-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgba(0,0,0,0.1);
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: transform .2s;
}

.stats-card:hover {
  transform: translateY(-4px);
}

.stats-card h3 {
  font-size: 18px;
  color: #703423;
  margin-bottom: 10px;
}

.stats-card p {
  font-size: 30px;
  font-weight: bold;
  color: #bb6b28;
}
