.admin-bg {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-box {
  width: 400px;
  padding: 30px;
  background: rgba(255, 248, 240, 0.95);  /* soft cream */
  border-radius: 14px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  animation: fadeIn .3s ease-in;
  text-align: center;
}

.admin-title {
  font-size: 30px;
  font-weight: bold;
  color: #6b3a2b;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.login-input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #6b3a2b;
  outline: none;
}

.login-input:focus {
  border-color: #c96a2c;
  box-shadow: 0 0 3px #c96a2c;
}

.login-btn {
  width: 100%;
  background: #c96a2c;
  color: white;
  padding: 12px;
  border: none;
  font-size: 17px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.login-btn:hover {
  background: #6b3a2b;
}

/* fade animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px);}
  to   { opacity: 1; transform: translateY(0);}
}
